version: "3.8"

services:
  frontend:
    build:
      context: .
      dockerfile: Dockerfile.build
      args:
        NEXT_PUBLIC_API_URL: ${NEXT_PUBLIC_API_URL:-https://dashboard.w9.nu/api/v1}
        NEXT_PUBLIC_WS_URL: ${NEXT_PUBLIC_WS_URL:-wss://dashboard.w9.nu}
    restart: always
    ports:
      - "3000:3000"
